@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background-color: #06062a;
  }
  .font-montserrat{
    font-family: montserrat;
  }
  .font-alexBrush{
    font-family: alexBrush;
  }
  .text-accent{
    color:#7f1cfc,
    
  }
  .text-accent:hover{
    color:#6519c6,
  }
  .bg-accent{
    background-color: #7f1cfc;
  }
  .bg-accent-hover{
    background-color: #6519c6;
  }
  .text-primary{
    color:#06062a;
  }
}

body{
  @apply bg-primary font-montserrat text-white;
}
.pretite{
  @apply font-alexBrush text-[42px] text-accent leading-none;
}
.h2{
  @apply text-[32px] xl:text-[38px] font-semibold leading-tight;
}
.btn{
  @apply w-full rounded-full cursor-pointer transition-all flex justify-center items-center font-medium;
}
.btn-sm{
  @apply w-[146px] h-[50px];
}
.btn-lg{
  @apply w-[160px] h-[54px];
}
.btn-accent{
  @apply bg-accent text-white hover:bg-accent-hover;
}
.btn-white{
  @apply bg-white text-primary hover:bg-white/80;
}
.section{
  @apply py-12 xl:py-24;
}

/* MAIN PLAYER */

.rap-progress{
  @apply !bg-[#6519c8]
}

.rap-pin{
  @apply !bg-white
}

.rap-container .rap-slider .rap-progress .rap-pin{
  @apply !w-[14px] !h-[14px] !bg-white;
}

.rap-container .rap-slider .rap-progress .rap-pin:hover{
  @apply scale-[1.2] transition-all duration-300;
}

.rap-container{
  @apply !p-0;
}
.rap-container .rap-pp-button svg{
  @apply w-[14px];
}

.rap-container .rap-volume .rap-volume-btn svg{
  @apply w-[22px];
}

.rap-container .rap-pp-button svg path,
.rap-container .rap-volume .rap-volume-btn svg path{
  @apply fill-["#7f1cfc"];
}

.rap-cuurent-time .rap-total-time{
  @apply font-montserrat text-[13px] font-medium;
}
.rap-container .rap-slider{
  @apply !bg-[#33335b] !h-[2px];
}
.rap-container .rap-controls span{
  @apply text-[15px];
}
.rap-volume-btn .rap-volume-open svg path{
  @apply fill-white;
}

.rap-volume-controls{
  @apply !bg-["#06062a"];
}

.active{
  @apply border-b-2 border-[#7f1cfc];
}
.album-slider .rap-container .rap-volume .rap-volume-controls{
  @apply !bg-[#7f1cfc];
}
.album-slider .rap-container .rap-slider{
  @apply !bg-[#06062a]/40;
}
.album-slider .rap-container .rap-slider .rap-progrss{
  @apply !bg-white;
}
.album-slider .rap-container .rap-pp-button svg{
  @apply w-[12px];
}
.album-slider .rap-container .rap-volume .rap-volume-btn svg{
  @apply w-[20px];
}
.album-slider .rap-container .rap-pp-button svg path,
.album-slider .rap-container .rap-volume .rap-volume-btn svg path{
  @apply fill-[#7f1cfc];
}
.album-slider .rap-container .rap-controls span {
  @apply !text-sm;
}
.album-player{
  @apply !w-[110px] !min-w-0 text-center;
}
.album-player .rap-controls .rap-slider,
.album-player .rap-controls .rap-total-time{
  @apply hidden;
}

/* thumb slider */
.thumb-slider .swiper-slide-thumb-active{
  @apply border-2 border-[#7f1cfc] overflow-hidden transition-all duration-700;
}